// Nextflow plugins
plugins {
    id 'nf-schema@2.5.1'
}

profiles {
    standard {
        process.executor = 'local'
    }

    cluster {
        
        singularity.enabled = true
        singularity.autoMounts = true
        singularity.cacheDir = '/data/taavi/singularity'
        singularity.pullOptions = '--force'
        singularity.runOptions = '--bind /data/taavi/:/data/taavi/'

        process {

            executor = 'slurm'
            queue = 'testing'
            array = 4
            errorStrategy = 'retry'
            maxRetries = 3
            
            memory = { 8.GB * task.attempt }
            cpus = { 4 * task.attempt }
            time = { 2.h * task.attempt }

            withLabel: process_small {
                cpus   = { 3 * task.attempt }
                memory = { 18.GB * task.attempt }
                time   = { 4.h * task.attempt }
            }   

            withLabel: process_medium {
                cpus   = { 6 * task.attempt }
                memory = { 36.GB * task.attempt }
                time   = { 8.h * task.attempt }
            }
            withLabel: process_large {
                cpus   = { 12 * task.attempt }
                memory = { 72.GB * task.attempt }
                time   = { 16.h * task.attempt }
            }
        

        }

}
