// Nextflow plugins
plugins {
    id 'nf-schema@2.5.1'
}

params {
    input = null
    keep_phix = false
    phix_accession = "NC_001422.1"
    host_index_url = "https://objectstorage.uk-london-1.oraclecloud.com/n/lrbvkel2wjot/b/human-genome-bucket/o/human-t2t-hla.argos-bacteria-985_rs-viral-202401_ml-phage-202401.tar" // /^(https?:\/\/)?([\da-z\.-]+)\.([a-z\.]{2,6})([\/\w \.-]*)*\/?$/
    outdir = "results" 
    max_cpus = 32
    max_memory = "128.GB"
    max_time = "48.h"
    container_engine = "docker"  // Options: 'docker' or 'singularity'
    singularity_pull_docker_container = true
}

profiles {
    standard {
        process.executor = 'local'
        docker.enabled = true
        process.cpus = 4
    }

    cluster {
        
        singularity.enabled = true

        process {

            executor = 'slurm'
            queue = 'testing'
            array = 4
            errorStrategy = 'retry'
            maxRetries = 1
            
            memory = { 8.GB * task.attempt }
            cpus = { 4 * task.attempt }
            time = { 2.h * task.attempt }

            withLabel: process_small {
                cpus   = { 3 * task.attempt }
                memory = { 18.GB * task.attempt }
                time   = { 4h * task.attempt }
            }   

            withLabel: process_medium {
                cpus   = { 6 * task.attempt }
                memory = { 36.GB * task.attempt }
                time   = { 8h * task.attempt }
            }
            
            withLabel: process_large {
                cpus   = { 12 * task.attempt }
                memory = { 72.GB * task.attempt }
                time   = { 16h * task.attempt }
            }
        

        }

    }
}
